# Railway Variables
NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/honorcare
SESSION_SECRET=vervang-door-lange-random-secret
ADMIN_EMAIL=admin@honorcarepoland.eu
ADMIN_PASSWORD=VervangDitSterkeWachtwoord123!
APP_NAME=Honor Care Poland Secure Portal
